# HBO Max Dualsub
# HBO Max subtitles add-ons

hostname = *.api.hbo.com, *.hbomaxcdn.com

https:\/\/(manifests.v2.api.hbo.com|.+hbomaxcdn.com)\/(hls.m3u8.+|video.+\.vtt) url script-response-body https://raw.githubusercontent.com/Neurogram-R/Quantumult-X/main/Dualsub.js
https:\/\/setting.hbomaxcdn.com\/\?action=(g|s)et url script-analyze-echo-response https://raw.githubusercontent.com/Neurogram-R/Quantumult-X/main/Dualsub.js