# Hulu Dualsub
# Hulu subtitles add-ons

hostname = *.huluim.com

^http.+huluim.com\/.+\.vtt url script-response-body https://raw.githubusercontent.com/Neurogram-R/Quantumult-X/main/Dualsub.js
https:\/\/setting.huluim.com\/\?action=(g|s)et url script-analyze-echo-response https://raw.githubusercontent.com/Neurogram-R/Quantumult-X/main/Dualsub.js